app/views/domitories/_form.html.erb<%= simple_form_for(@domitory) do |f| %>
<%= f.error_notification %>

<div class="form-inputs">
  <%= f.input :title %>
  <%= f.input :description, input_html: { rows: 5 } %>
  <%= f.input :post_type_cd, collection: enum_option_pairs(Domitory, :post_type, true) %>

</div>

<div class="form-actions">
  <%= f.button :submit %>
  <%= link_to 'Show', @domitory, class: 'btn btn-default' if @domitory.persisted? %>
  <%= link_to 'List', domitories_path, class: 'btn btn-default' %>
</div>
<% end %>