<%= simple_form_for([@post.domitory, @post]) do |f| %>
<%= f.error_notification %>

<div class="form-inputs">
  <%= f.input :title %>
  <%= f.input :content, input_html: { rows: 10 } %>
</div>

<div class="form-actions">
  <%= f.button :submit %>
  <%= link_to 'Show', [@post.domitory, @post], class: 'btn btn-default' if @post.persisted? %>
  <%= link_to 'List', domitory_posts_path(@domitory), class: 'btn btn-default' %>
</div>
<% end %>