<table class='table' style="background-color: pink;">
  <div class="characterpicture" , style="margin: 20px;">
    <%= image_tag @post.picture_url, :style => "border-radius: 50px;"%>
  </div>
  <div>
    <div class="titlehead">N A M E</div>
    <div class="titlebody"><%= @post.title %></div>
  </div>
  <br>
  <div>
    <div class="titlehead">D E S C R I P T I O N</div>
    <div class="titlebody"><%= @post.content %></div>
  </div>
  <% if @post.domitory.post_type == :gallery %>
  <% end %>
  <!-- 생성시각
  <tr>
    <th>Created at</th>
    <td><%= @post.created_at %></td>
  </tr>
-->
</table>
<% link_to 'Edit', (@domitory.present? ? edit_domitory_post_path(@domitory)  : edit_post_path(@post)), class: 'btn btn-default' %>
<%= link_to 'List', (@domitory.present? ? domitory_posts_path(@domitory) : posts_path), class: 'ui inverted orange button', style:"position: absolute; right: 0; " %>

<%= render "comments/comments" %>